body {
  font-family: 'Fira Sans', Consolas, Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-size: 10pt; /* Размер основного шрифта в пунктах  */
  background-color: white; /* Цвет фона веб-страницы */
  color: #333; /* Цвет основного текста */
}
p {
  text-align: center; /* Выравнивание по ширине */
  margin-left: 10px; /* Отступ слева в пикселах */
  margin-right: 10px; /* Отступ справа в пикселах */
}

a {
  text-decoration: none;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
